<div class="home">
  <p class="title">Selecione o tipo de chat</p>

  <button class="button" (click)="texto()">
    <span class="main-text">apenas texto</span>
    <span class="additional-info">Entre em um canal de conversa por texto.</span>
  </button>

  <button class="button" (click)="video()">
    <span class="main-text">apenas video</span>
    <span class="additional-info">Entre em um canal de conversa por video.</span>
  </button>

  <button class="button" (click)="ambos()">
    <span class="main-text">ambos</span>
    <span class="additional-info">Entre em um canal de conversa por video e
      texto.</span>
  </button>

</div>
