<div class="box">
  <mat-card class="box-inner">
    <div class="box-header">Crie seu perfil no Conversify</div>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="send()" class="form">
        <mat-form-field>
          <input matInput placeholder="Usuário"
            formControlName="id" autocomplete="username"
            required>
          <mat-error>
            Nome de Usuário é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Senha"
            formControlName="password" type="password"
            required="true" autocomplete="current-password">
          <mat-error>
            Senha é obrigatória
          </mat-error>
        </mat-form-field>
        <div class="buttons">
          <div class="register">
            <span class="registerLabel">Já possui cadastro ?</span>
            <button class="registerButton" mat-flat-button
              (click)="login()">Realize seu Login</button>
          </div>
          <div>
            <button class="loginButton" mat-raised-button
              color="primary"
              [disabled]="!form.valid" type="submit">Criar Perfil</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
