<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Chat</title>
    <style>
        .self-message {
            text-align: right;
            color: blue;
        }
    </style>
</head>
<body>
    <div id="message_container" style="border: 2px solid black;">
    </div>
    <div>
        <input type="text" name="message_input">
        <input type="button" value="Send message" name="send_message_button">
    </div>

    <script type="application/javascript" src="websocket_client.js"></script>
</body>
</html>